*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: white !important;
}

body{
    background-color: rgb(27, 27, 27);
}

a{
    text-decoration: none;
}

header ul{
    list-style-type: none;
}

.nav-item a:hover{
    color: #FFC107 !important;
    
}

.nav-link:hover{
    color: #FFC107 !important;
}

.wp-img{
    width: 35px;
}

header{
    background-color: rgb(61, 61, 61);
    width: 100%;
    margin-top: 0;
    margin-bottom: 100px;   
}

footer{
    background-color: rgb(61, 61, 61);
}

.list-group .active{
    background-color: #FFC107;
    border: 1px solid #FFC107;
}

.list-group .no-active{
    background-color: rgb(44, 44, 44);
    border: 1px solid #FFC107;
}

.list-group .no-active:hover{
    background-color: #FFC107;
}

.local-img{
    width: 94%;
    border: 8px solid #FFC107;
}

.carousel{
    width: 500px;
    height: 715px;
}

.carousel img{
    height: 500px;
    border: 3px solid #FFC107;
}

.logo{
    width: 10%;
}

.rrss-img{
    width: 20%;
}

a .rrss-img:hover{
    color: #FFC107;
}

.logo-container{
    width: 200px;
}

footer ul{
    font-size: 13px;
}

.secundary-img{
    width: 30%;
    border: #FFC107 solid 3px;
}

@media (min-width: 0) and (max-width: 576px){
    .carousel{
        width: 350px;
        height: 715px;
    }
    
    .carousel img{
        height: 370px;
        border: 3px solid #FFC107;
    }

    .column-mediaq{
        display: flex;
        flex-direction: column;
    }

    .column-mediaq img{
        width: 350px;
        margin-top: 20px;
    }

    .local-img{
        width: 350px;
    }  
}
@media (min-width: 576px) and (max-width: 1200px){
    .carousel{
        width: 500px;
        height: 715px;
    }
}

.card-body{
    background-color: rgb(44, 44, 44);
    border: 0;
}

.about-us-box{
    width: 700px;
}

#maincons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#maincons .bg-box{
    background: rgb(27, 27, 27);
    width: 400px;
    border-radius: 10px;

}

#maincons .bg-box h2{
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#maincons .bg-box form{
    padding: 0 40px;
    box-sizing: border-box;
}

#maincons .bg-box form .consultation-box{
    position: relative;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    margin: 30px 0;
}

#maincons .bg-box form .consultation-box input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background-color: rgba(51, 5, 33, 30%);
}

#maincons .send-box{
    padding: 0 0 20px 0;
}

#maincons .bg-box form .consultation-box textarea{
    width: 100%;
    font-size: 16px;
    border: none;
    background-color: rgba(51, 5, 33, 30%);
}

.buttom {
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	background-color:#ffc477;
	border-radius:6px;
	border:1px solid #eeb44f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ff9d00;
}
.buttom :hover {
	background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
	background-color:#fb9e25;
}
.buttom :active {
	position:relative;
	top:1px;
}

.consultas-bg{
    background-image: url(../images/consultas.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}