footer{
    background-color: rgb(61, 61, 61);
    ul{
        font-size: 13px;
    }
    .logo{
        width: 10%;
    }
    .logo-container{
        width: 200px;
        a{
            cursor: default;
            .rrss-img{
                width: 20%;
                transition: all 0.5s ease;
                &:hover{
                    transform: scale(1.2);
                    transition: all 0.5s ease;
                }
            }
        }
    }
}